<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>About Performance Taekwon-Do</title>
  </head>
  <body>


    {% extends "base.html" %}
    {% block content %}


        <div class="container"><br>
          <h1>About Performance Taekwon-Do</h1><br>

          <p>
            Performance Taekwon-Do was opened in February of 2014 in Halifax, Nova Scotia by Sean O'Neil. The club is currently located at St. Andrew's Community Center, 3380 Barnstead Lane, Halifax, Nova Scotia.
        	</p>
        	<p>
        		Performance Taekwon-Do focuses on developing elite martial artists with a particular emphasis on the sport aspect of ITF Taekwon-Do. The club also helps students develop a training regiment that keeps them in shape and healthy. Taekwon-Do, and martial arts in general, are a good way for students of any age to develop self esteem and a healthy lifestyle that will complement their lives outside of training. Martial arts are also used as a tool for social development - they teach self discipline and encourage their practitioners to be accountable for their progress and training. The instructors are extensively trained in multiple martial arts and therefore augment the typical Taekwon-Do cirriculum with the philosophy and teaching of different styles such as Karate and Kung-Fu. You can find more information about Performance Taekwon-Do as well as our provincial, national and international governing bodies/organizations at the below links: <br>
            <a href="http://www.nstaekwondo.ca/">NSTKD - Provincial Govering Body</a><br>
            <a href="https://www.ctfi.org/">CTFI - National Governing Body</a><br>
            <a href="https://itftkd.sport/">ITF - International Governing Body</a><br>
        	</p><br><br>
      	  <h1>Instructors</h1><br>
          <h3>Sean O'Neil</h3>
          <img src="{{url_for('static', filename='images/DSC_0015.JPG')}}" width="533" height="300"/><br><br>
          <p>
      		  Sean O'Neil is Performance Taekwon-Do's head instructor and a 4th degree black belt. Sean also holds a 2nd degree black belt in Chito-Ryu Karate from Ryuseikan in Dartmouth. Sean was born and raised in Halifax, Nova Scotia and in 2001, at the age of 6, Sean started training in Taekwon-Do at Tien-Lung Taekwon-Do in Halifax, and 3 years later he moved to Mackenzie Taekwon-Do in Hammonds Plains. Sean has been actively training in Taekwon-Do since 2001. He has competed at many national and international level competitions and has been the national champion in both patterns and sparring for many years, and has brought home many medals from the following World Cups and World Championships, including 4 gold. Sean is also the head coach of the NS provincial team. Sean works as a software developer for a financial services company. <br>
        		<br>Mar Del Plata, Argentina (2009) - Junior Male 2nd Dan Patterns (Gold)
        		<br>Wellington, New Zealand (2011) - Junior Male 3rd Dan Patterns (Bronze), Junior Male Team Patterns (Silver)
        		<br>Brighton, England (2012) - Junior Male 3rd Dan Patterns (Gold), Junior Pre-Arranged Sparring (Gold), Junior Male -70kg Sparring (Bronze)
        		<br>Benidorm, Spain (2013) - Senior Male Team Special Technique (Bronze)
        		<br>Montego Bay, Jamaica (2014) - Senior Male 3rd Dan Patterns (Bronze), Senior Male Team Sparring (Bronze)
        		<br>Jesolo, Italy (2015) - Senior Male -78kg Sparring (Silver)
        		<br>Budapest, Hungary (2016) - Senior Male -78kg Sparring (Bronze)
        		<br>Dublin, Ireland (2017) - Senior Male 4th-6th Dan Patterns (Bronze), Senior Male Team Power Test (Gold)
        		<br>Inzell, Germany (2019) - Senior Male -78kg Sparring (Bronze)
      	  </p><br><br>
          
      	  <h3>Serena MacRury</h3>
          <img src="{{url_for('static', filename='images/DSC_0013.JPG')}}" width="533" height="300"/><br><br>
          <p>
        		Serena MacRury started training in Taekwon-Do in 2007 at the age of 9 at Hiltz Taekwon-Do in Lower Sackville. Serena joined Performance Taekwon-Do in 2016 as an assistant instructor. Serena is also a multiple time national champion in patterns and sparring and has represented Canada at the following World Championships. Serena works as a veterinary technician at a local practice.<br>
        		<br>Benidorm, Spain (2013)
        		<br>Jesolo, Italy (2015)
        		<br>Dublin, Ireland (2017)
        		<br>Inzell, Germany (2019)
      	  </p><br><br><br>

        
          <h3>Black Belts</h3><br>
          <p>
            Evan Peddle, 2nd dan - Evan started doing Taekwon-Do in 2011 at Mackenzie Taekwon-Do in Hammonds Plains. He has won 7 gold medals at a national level, and has also won a bronze medal in 2nd dan patterns from the World Cup in Australia. Evan also trains in Karate and has been a member of the Karate provincial team, attended the nationals and hopes to be able to represent Nova Scotia at the Canada Games. Outside of Taekwon-Do, Evan attends CPA High School and likes to play the guitar and video games with his friends.
          </p><br>
          <p>
            Mike Pellichero, 1st dan - Mike started training in Taekwon-Do at Performance Taekwon-Do in 2016 and in November of 2021, he achieved his 1st degree black belt. Mike is a member of the NS provincial team, and most recently took gold in junior male red belt/black stripe patterns at the 2021 Canadian E-nationals. He's looking forward to competing internationally as a black belt in the coming years. Mike attends Citadel High School and is in his second year.
          </p><br>
        </div>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    

    {% endblock %}


  </body>
</html>