<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Performance Taekwon-Do</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">| Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">| About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/upcomingevents">| Upcoming Events, Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/studentresources">| Student Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/scheduleprices">| Schedule and Fees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/gallery">| Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/provincialteam">| NS Provincial Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/nsopen">| NS Open Championships</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

<br><br><br><br>
<center>
<head>
    <footer class="bg-black">
    <font color="white">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="footer-basic">
    <footer>
        <div class="social">
          <font size="+5"><a href="https://www.instagram.com/seanoneil_ptkd/?hl=en">
            <i class="icon ion-social-instagram"></i></a> &nbsp;&nbsp;&nbsp;
          <a href="https://www.facebook.com/performancetkd">
            <i class="icon ion-social-facebook"></i></a>
          </font size="+5">
        </div>
        <ul class="list-inline">
          <li class="mb-2"><u>Contact Us</u></li>
          <li class="mb-2"><u>Email:</u> performance_taekwondo@hotmail.com</li>
          <li class="mb-2"><u>Phone:</u> 902-452-7326</li>
          <li class="mb-2"></li>
        </ul>
        <p class="copyright">
          <font size ="-3">Performance Taekwon-Do, Elite Martial Arts Training Society © 2022</p>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
