<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Performance Taekwon-Do</title>
  </head>
  <body>


    {% extends "base.html" %}
    {% block content %}
          <center>
            <img src="{{url_for('static', filename='images/itf_logo.png')}}" width="405" height="150"/>
          </center>
          <div class="container"><br><br>
            <center>
                <p style="color:red":>
                  <font size="+2"><u>Important Announcements</u><br></font size="+2">
                </p>
              <ul>
                <!-- <li>
                  <p style="color:red":>
                    <font size="+2">
                      Classes will be cancelled on Friday, April 1st and Sunday, April 3rd. More info sent to your email. 
                    </font size="+2">
                  </p>
                </li> -->

                <li>
                  <p style="color:red":>
                    <font size="+2"> There are two local tournaments upcoming, details are at the top of the upcoming events page: <a class="nav-link active" href="/upcomingevents">Upcoming Events</a>
                    </font size="+2">
                  </p>
                </li>
              </ul>
            </center></p>
          </div><br><br><br>
          <div>
            <center>
              <img src="{{url_for('static', filename='images/21f0fa00-fccd-41e4-806e-85841cce52eb.jpg')}}" width="491" height="325"/>
              <img src="{{url_for('static', filename='images/fc8c5ef8-338d-4ab9-b205-e53cbbc063d6.jpg')}}" width="491" height="325"/> 
              <img src="{{url_for('static', filename='images/DSC_0395.JPG')}}" width="491" height="325"/><br><br>

              <img src="{{url_for('static', filename='images/58378757_777756515953887_5367109601164525568_o.jpg')}}"  width="491" height="325"/>
              <img src="{{url_for('static', filename='images/95291c65-95c9-461a-a89f-b80abf27b117.jpg')}}" width="491" height="325"/> 
              <img src="{{url_for('static', filename='images/IMG_4927 (1).JPG')}}" width="491" height="325"/><br><br>

              <img src="{{url_for('static', filename='images/DSC_0660.JPG')}}" width="491" height="325"/>
              <img src="{{url_for('static', filename='images/DSC_0348.JPG')}}" width="491" height="325"/> 
              <img src="{{url_for('static', filename='images/a8366047-db48-4f52-a39f-64a592349352.jpg')}}" width="491" height="325"/> 
            </center>
          </div>  
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% endblock %}


  </body>
</html>