<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>2022 Nova Scotia Open Championships</title>
  </head>
  <body>

    {% extends "base.html" %}
    {% block content %}

        <div class="container"><br>
          <h1>2022 Nova Scotia Open Championship</h1><br>
        	<h3>Divisions/Trees:</h3>
        
          <br>
          <p>Individual Patterns</p>
          <ul>
          <li><a href="https://drive.google.com/file/d/1pVZF91CSj2Rae33HQ0TTKwPBWWRVb8bS/view?usp=sharing">P1 - 5-6 Mixed 10-8th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1eqeI-EhYDRZnCMkoXbgDpy5Fc6G1CphC/view?usp=sharing">P2 - 7-8 Mixed 8-5th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1iGhN9KFZctdo-210TnMHTrPeEkya-bxj/view?usp=sharing">P3 - 7-8 Mixed 10-9th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1VV4PNm_9PIiibywZpJRpNql0vi0lHAE9/view?usp=sharing">P4 - 8-10 Mixed 4-3rd Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1DcdHy-ucPFm0WD7Px7TM-ogB-7YcMKGO/view?usp=sharing">P5 - 9-10 Mixed 8-5th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1ecG2gm-o5fsh8k4BzEIVW0jZJl7eXuiO/view?usp=sharing">P6 - 9-10 Mixed 10-9th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/13LJgeJ32s-ojcumRMQhsCqL7XcWw0sG1/view?usp=sharing">P7 - 10-13 Mixed 2-1st Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/169H9cjctFT0Oel-i9CcjN087Yaw5Pyu3/view?usp=sharing">P8 - 11-12 Mixed 8-5th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1ti9k6zX33U4RKWz6uy_UC8hr9UowS5xv/view?usp=sharing">P9 - 11-13 Mixed 10-9th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1hGAR3dENgtV-yhIsifBXsqmRWOZ6d7Xd/view?usp=sharing">P10 - 11-14 Mixed 4-3rd Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1M93-g-2aVLTN6UFGAa9Ae7S210O76ZVo/view?usp=sharing">P11 - 13-15 Female 8-5th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1tb2ILQ_uKdeOQpMTqyzpMcm6lT4vyeXs/view?usp=sharing">P12 - 13-16 Male 8-5th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1--i9tYNCaBFOhx9y-490u2Hde6RbwMS_/view?usp=sharing">P13 - 14-16 Mixed 2-1st Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/14jLGPGVDOVIftkZyRKYShV3NwVspPBh6/view?usp=sharing">P14 - 18+ Female 8-5th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1Q-yo82b9BZ3xzYUkxYmbeqG1Tat5z4Xa/view?usp=sharing">P15 - 18+ Male 8-5th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1hzQfX7FiqxLAE07EPUirqtBw7gLmdUJX/view?usp=sharing">P16 - 18+ Mixed 4-1st Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1bulyF6kYGJ80iqAKeu8_b0bwnQt7AWvY/view?usp=sharing">P17 - 18+ Mixed 10-9th Gup Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1PgJ7PqLpg_dmvpw9Ffd0PjLvurz-6gSn/view?usp=sharing">P18 - All Ages Female 1st Dan Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1gDOEKwNjHDzdc6Tg5gADP04t3BF2GvWf/view?usp=sharing">P19 - All Ages Male 1st Dan Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/165Ssft_KbVtIbD9THobm6f7Hjl6UEgWA/view?usp=sharing">P20 - All Ages Mixed 2nd Dan Patterns</a></li>
          <li><a href="https://drive.google.com/file/d/1BTQ9IgB1R4JtuDX6O_KLXWJewh83EwRP/view?usp=sharing">P21 - All Ages Mixed 3-6th Dan Patterns</a></li>
          </ul>

          <br>
          <p>Individual Sparring</p>
          <ul>
          <li><a href="https://drive.google.com/file/d/119bi9NYRbbgtXP7vlL4Ka6KlyyMhzJpR/view?usp=sharing">S1 - 6 Mixed 10-8th Gup Flag Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1k-fT5MDjpOlStLmHXFsU7gZWAFznjNHY/view?usp=sharing">S2 - 7-8 Mixed 10-9th Gup Lightweight Flag Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1yFpqn-HXfjmkhmlr6exTquNYKc0z5ilj/view?usp=sharing">S3 - 7-8 Mixed 10-9th Gup Middleweight Flag Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1M0nM6xQQBJ-4cDT6hVa9OXF81F5I0jAf/view?usp=sharing">S4 - 7-8 Mixed 10-9th Gup Heavyweight Flag Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1m6LK5iJPzHB0ihsMqds-MmGZvYJWhSNf/view?usp=sharing">S5 - 7-8 Male 8-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1An7jziKAlDgTVenrCxQ2eil2It4EgiQY/view?usp=sharing">S6 - 8-9 Female 8-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1EQJ0O1YZ9AVUmv2O3Fd79s5SPheq0kuf/view?usp=sharing">S7 - 8-10 Female 4-1st Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1nR87F5ljnnWqa-c-eDKE8OzRMhEP8iBh/view?usp=sharing">S8 - 8-10 Male 4-1st Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1iLzbiurKiC2X-4UUpf-qWdxhlvQ4aED9/view?usp=sharing">S9 - 9-10 Mixed 10-9th Gup Lightweight Flag Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1sj__Ou2n4xgeeYDC0QgnXfov4eIeZWju/view?usp=sharing">S10 - 9-10 Male 10-9th Gup Heavyweight Flag Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1_rz5VCBzGGUtFHTnuWxqihc76f5yebSQ/view?usp=sharing">S11 - 9-10 Male 8-5th Gup Lightweight Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1r3vHyQ2sX10j8gde2Qw7MMn9H5Wi6SOL/view?usp=sharing">S12 - 9-10 Male 8-5th Gup Heavyweight Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1j5U1YvE3P1VqMdzXhROqAaZr-L8kQQbZ/view?usp=sharing">S13 - 10-11 Female 8-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1-3Bj0ZN_cJcCbYi5lPkHvmbMr4_qkzNe/view?usp=sharing">S14 - 11-12 Mixed 10-9th Gup Flag Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1CcAcxwNB269iOpzQEy1Geceb285kdLaI/view?usp=sharing">S15 - 11-12 Male 8-5th Gup Lightweight Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1tUCdFgPXYoPyjogbB6-DQWLqn1mkSaoM/view?usp=sharing">S16 - 11-12 Male 8-5th Gup Heavyweight Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/10LPwvS62iI6yFrNJFAnr5lBWUiFqKzXq/view?usp=sharing">S17 - 11-12 Male 4-1st Gup Lightweight Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/167YFZGc_14IjrtiYZGsjFVOxZMJehH2E/view?usp=sharing">S18 - 11-12 Male 4-1st Gup Heavyweight Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/19AHncE7oOCRLhmSuOcA8IcIiPXYzZrNv/view?usp=sharing">S19 - 12-13 Female 8-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1dzxZ-1srrRbN5S55qWBQibeC6dxKAAS_/view?usp=sharing">S20 - 12-13 Female 4th Gup -1st Dan Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1h4F5fEYTC1Uc4A8lTB5Ovrvf0FpOkF1n/view?usp=sharing">S21 - 13-14 Male 8-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1MCy14gK9-evyvbPJt7FflzPxj2jxcEGj/view?usp=sharing">S22 - 13-14 Male 4-1st Gup Lightweight Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/15NU7QcA8GK8FxiMQc7M54xlV4hQ_DnGB/view?usp=sharing">S23 - 13-14 Male 4-1st Gup Heavyweight Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1ucQHqqWJkvzFG7nkf4Z_FjCy0LNCoBMG/view?usp=sharing">S24 - 14-15 Female 8-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/19px9vMY0UE9ibN-rS5VPiIBpY_ilfM9w/view?usp=sharing">S25 - 15-17 Female 2nd Gup - 2nd Dan Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1J5ZSkK9J1ctU83dbAabz_TKTY8INbBp6/view?usp=sharing">S26 - 14-17 Male 1-3rd Dan Sparring</a></li>
          <!-- <li><a href="https://drive.google.com/file/d/1DFWK4UU9J5aWSpw1mAh-oi-JDyneu5ci/view?usp=sharing">Empty, Ignore</a></li> -->
          <li><a href="https://drive.google.com/file/d/1dMpKi7wR0hTiBDn-w8QvrvZYhjP1RwbH/view?usp=sharing">S28 - 16-18 Male 9-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1GulNA77FhK5yaRQWLCE1mX8quc5E10Uf/view?usp=sharing">S29 - 18+ Female 8-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1RSzWI7axAeVbd866xSX6NkxqabxfzlOe/view?usp=sharing">S30 - 18+ Male 8-5th Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1fSeSChFX83MCeY-hA717QKSd17ZL0hO_/view?usp=sharing">S31 - 18+ Female 1st Gup - 3rd Dan Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1LZ0aqAlh0ddU3nTB6vC1RKDAx4ssRlU3/view?usp=sharing">S32 - 18+ Male 1-4th Dan Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1ev0Pki1j8ZARzvPNx2rBBkyYaX6fxg-I/view?usp=sharing">S33 - 35+ Male 4-1st Gup Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1-CN_HUCX-GL8cWtVJi0rqGwf5YgLYf4V/view?usp=sharing">S34 - 35+ Female 4th Gup - 1st Dan Sparring</a></li>
          </ul>

          <br>
          <p>Special Technique</p>
          <ul>
          <li><a href="https://drive.google.com/file/d/1C8F5SW-G96PQwP8Ytp-_SO5PlTuEyXTY/view?usp=sharing">ST1 - Pre-Junior Female Special Technique</a></li>
          <li><a href="https://drive.google.com/file/d/1HqgJq-rhkqea1l7RTXZgO0mdLZGdbfXh/view?usp=sharing">ST2 - Pre-Junior Male Special Technique</a></li>
          <li><a href="https://drive.google.com/file/d/1sxJ2ozl5w3vHse1lQP_aZKv20myq19iZ/view?usp=sharing">ST3 - Junior Female Special Technique</a></li>
          <li><a href="https://drive.google.com/file/d/1l1JCjDKYz-I_G8rIL-qtHEjwOmgSUUyN/view?usp=sharing">ST4 - Junior Male Special Technique</a></li>
          <li><a href="https://drive.google.com/file/d/101OsVcUdDAT_Y_JxLsmRS-1g4CW3jjzL/view?usp=sharing">ST5 - Senior Female Special Technique</a></li>
          <li><a href="https://drive.google.com/file/d/15Ev22mjWIIeoJ_P2JoqM5KU4q558kPlI/view?usp=sharing">ST6 - Senior Male Special Technique</a></li>
          </ul>

          <br>
          <p>Team Patterns</p>
          <ul>
          <li><a href="https://drive.google.com/file/d/1EIgTzJYS-v6N6eJojQi_-aIzEdD6bD3G/view?usp=sharing">TP1 - Mixed Team Patterns</a></li>
          </ul>

          <br>
          <p>Team Sparring</p>
          <ul>
          <li><a href="https://drive.google.com/file/d/11EfSKwyGJzYnTwOCHEEbiXGSTqoxcyM8/view?usp=sharing">TS1 - Junior Male Team Sparring</a></li>
          <li><a href="https://drive.google.com/file/d/1rjzDRahsIRbFSMVcxGNcSpEVvD05nkX8/view?usp=sharing">TS2 - Junior Female Team Sparring</a></li>
          </ul>


          <br><br><br>
          <!-- <h3>Schedule:</h3> -->
          <p><a href="https://drive.google.com/file/d/1lwoyQ0brIpZCSuMUZLHj0HfShICjh3qt/view?usp=sharing">Download Tournament Schedule</a></p>
          <img src="{{url_for('static', filename='images/nsopen_test_schedule.png')}}" width="900" height="600"/><br><br>

        </div>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    {% endblock %}


  </body>
</html>