<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Class Schedule + Fees</title>
  </head>
  <body>

    {% extends "base.html" %}
    {% block content %}

          <div class="container"><br>
            <h1><font size="+5"> Schedule and Fees</font size="+5"></h1><br><br>
            <h3>Class Breakdown During Enhanced Restrictions</h3>
            <p>
              The below snapshot shows the current class allocations. If you have an issue with the timing, please contact Sean O'Neil directly (saoneil@live.com). The currently available time slots are as follows:<br><br>
              <strong><u>Wednesday</u></strong> ||  <strong>8-9pm -- </strong>Section 1: 2 spots, Section 2: 4 spots <br>
              <strong><u>Friday</u></strong> || No Available Spots <br>
              <strong><u>Sunday</u></strong> || <strong>4-5pm -- </strong>Section 1: 1 spot, Section 2: 1 spot
            </p>
            <img src="{{url_for('static', filename='images/class_schedule.png')}}" width="1100" height="600"/><br><br><br><br><br><br>
            



            <h3>Schedule</h3>
            Below are the typical hours, please see above for the current class breakdown. <br>
            <img src="{{url_for('static', filename='images/class_schedule_basic.JPG')}}" width="1100" height="400"/><br><br><br>
            <p>
              The classes are held at St. Andrew's Community Center, 3380 Barnstead Lane, Halifax. We use the multipurpose room at the back of the building when entering through the main doors. Note that Barnstead Lane is only accessible from Bayers Road outbound by car.
              <img src="{{url_for('static', filename='images/mapofbuilding.JPG')}}" width="550" height="400"/>
            </p><br><br>

            <h3>Class Fees</h3>
            New Students will be allowed to try the classes before registering for a period of about 3 weeks. Once the program is determined to be a good fit and the student wishes to continue with the program, the below fees are applicable:<br>
            <p><ul>
              <li>Option 1) $55.00/month (tax incl.) for any/all of the above classes. </li>
              <li>Option 2) $45.00/month (tax incl.) for any/all of the above classes for 3 months or more, or for multiple family members. </li>
            </p></ul>
            <p>
              You can contact Sean O'Neil at <strong>performance_taekwondo@gmail.com</strong> if you wish to inquire further.
            </p><br><br>

            <h3>Uniforms and Sparring Gear</h3>
            <p>
              Uniforms are not required for students during the trial period. There are various styles and types of uniforms, all varying in cost (beginner uniforms are approximately $40, depending on size). Sparring gear is also available for purchase, although not required outside of competition and varies in cost depending on the style and size (the most affordable set is approximately $150). Please contact Sean O'Neil at <strong>performance_taekwondo@gmail.com</strong> to place an order for any equipment.<br><br>
              <img src="{{url_for('static', filename='images/uniforms.JPG')}}" width="550" height="200"/><br><br>
              <img src="{{url_for('static', filename='images/sparring gear.JPG')}}" width="550" height="200"/>
              <img src="{{url_for('static', filename='images/head gear.JPG')}}" width="275" height="200"/>
            </p>  
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    {% endblock %}

  </body>
</html>