<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Events</title>
  </head>
  <body>


    {% extends "base.html" %}
    {% block content %}


        <div class="container">
        	<br>
          <h1>Club Announcements/Local Events</h1>
          <ul.a {list-style-type: circle;}><br>
            <li> There will be no class on Friday, April 1st and Sunday, April 3rd. Classes are back to normal on Wednesday, April 6th.
            </li><br>
            <li>May 14th, 2022 - 2022 Maritime Open Martial Arts Championships to be held in Amherst Nova Scotia.
              <a href="https://forms.gle/PddszpVqqzTY5xS1A">Registration Link</a> - 
              <a href="https://drive.google.com/file/d/1uBRbIRDLVpH59ZyJqu0rSUszuF4z6K__/view?usp=sharing">Invitation Letter</a> - 
              <a href="https://drive.google.com/file/d/18DqD9mwN7kRGvdbHeOz9D3e_1Sdy-Oci/view?usp=sharing">Rules and Regulations</a>.
            </li><br>
            <li>
              June 18th, 2022 - NS Championships hosted by Performance Taekwon-Do and Hiltz Taekwon-Do at St. Andrew's Community Center's gym (3380 Barnstead Lane) beginning at 9am. Registration is being handled online via Google forms and updates are being posted to the dedicated Facebook page:<br>
              Registration Link: <a href="https://forms.gle/vXazp1tL74vdtQs5A">NS Championships Online Registration</a><br>
              Tournament Facebook page: <a href="https://www.facebook.com/NSChampionship">NS Championships on Facebook</a>
            </li><br>
            <!-- <li>
              Performance Taekwon-Do Club T-Shirts. Please fill out this link before March 14th 2022 in order to be included in our first order.
              <a href="https://forms.gle/zAFL8j86Y3DjH3Pn7">Club T-Shirts</a>.
            </li><br> -->
          </ul.a><br><br><br>
        

          <h1>National/International Competitions</h1><br>
          <ul.a {list-style-type: circle;}>

            <li>
              April 16th, 2022 - Benidorm Open to be held in Casa Blanca, Spain. Sportdata Registration page: <a href="https://www.sportdata.org/taekwondo_itf/set-online/veranstaltung_info_main.php?active_menu=calendar&vernr=306#a_eventhead">Benidorm Open Sportdata</a>.
            </li><br>

            <li>May 14th, 2022 - USTC Red Tiger Cup to be held in Huntingdon Valley, Pennsylvania, USA. Official Facebook page:
              <a href="https://www.facebook.com/events/304091321160126?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D">USTC Red Tiger Cup</a>.
            </li><br>

            <li>
              May 21st, 2022 - Swiss Open to be held in Zurich, Switzerland. Sportdata Registration page: <a href="https://www.sportdata.org/taekwondo_itf/set-online/veranstaltung_info_main.php?active_menu=calendar&vernr=308#a_eventhead">Swiss Open Sportdata</a>.
            </li><br>

            <li>
              May 27-28th, 2022 - Holland Cup to be held in Pijnacker, South Holland at the Sportcentre "De Viergang". Event Main Website: <a href="http://ftw-events.nl/holland-cup/">Holland Cup</a>.
              Sportdata Registration page: <a href="https://www.sportdata.org/taekwondo_itf/set-online/veranstaltung_info_main.php?active_menu=calendar&vernr=73&ver_info_action=info#a_eventhead">Sportdata Registration</a>.
            </li><br>

            <li>
              August 10th-13th, 2022 - 8th Central South American Championships to be held in Foz do Iguacu, Brazil. <a href="https://itftkd.sport/event/8th-central-south-american-championship/?fbclid=IwAR2GX5G6YgnYbn0mjJ9wCJeuYMHLn4O-t1lSoU4Xvqn1ycarbMZSgrhle10">Info from itftkd sport page</a>, <a href="https://csbrasil2022.fcstkd-itf.org/">Dedicated Website (Portugese)</a>.
            </li><br>

            <li>
              October 3rd-8th, 2022 - 8th ITF Taekwon-Do World Cup to be held in Koper, Slovenia at the Arena Bonifika. <a href=https://www.sportdata.org/taekwondo_itf/set-online/veranstaltung_info_main.php?active_menu=calendar&vernr=216#a_eventhead">World Cup Sportdata</a>.
            </li><br>

            <li>
              November, 5th 2022 - 2022 ITF Warrior Cup to be held in San Jose, California by Warrior Code Taekwon-Do.  <a href="https://www.facebook.com/events/194187285142174/">Facebook Page</a>, <a href="https://itf-events.com/itf-warrior-cup">Warrior Code Website</a>.
            </li><br>

            <li>
              November, 2022 (exact date TBD) - CTFI Eastern Canadian Championships to be held in Halifax, Nova Scotia by Mackenzie Taekwon-Do: <a href="https://www.ctfi.org/ctfi-competition-schedule/">CTFI Events Page</a>.
            </li><br>

            <li>
              November 14th, 2022 - The Anxur Battle, to be held in Terracina (LT), Italy. Information from the AETF website: <a href="https://itfeurope.org/post/invitation-to-the-anxur-battle">The Anxur Battle</a>.
            </li><br>

            <li>
              January 28th, 2023 - Dutch Open to be held in Helmond, the Netherlands. Tournament Info and Registration Page: <a href="https://open-dutch.nl/">Dutch Open</a>.
            </li><br>

            <li>
              March 2023 (exact date TBD) - 6TH NI-KKO Roma Open International to be held in Rome, Italy. Information from the ITF website: <a href="https://itftkd.sport/event/6th-ni-kko-roma-open-international/">ITF TKD Sport Info Page</a>.
            </li><br>
          </ul.a>

        </div>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script><br><br>

  

    {% endblock %}
  </body>
</html>