<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Club Announcements</title>
  </head>
  <body>


    {% extends "base.html" %}
    {% block content %}


        <div class="container">
        	<br>
          <h1>Club Announcements</h1>
          <ul.a {list-style-type: circle;}>
            <li style="color:red":>
              <font size="+3">
                We are currently closed, however there is an announcement scheduled for January 31st where a change to the current indoor sports participant limit <u>may</u> occur. We'll reconsider scheduling classes in February and another message will be sent to students after this announcement.
              </font size="+3">
            </li>
          </ul.a><br><br><br>


          <h1>Upcoming Events</h1><br>
          <ul.a {list-style-type: circle;}>
            <li>
              March 12th, 2022 - The Warrior Open to be held in London, England. Official website: <br>
              <a href="https://thewarrioropen.com/">The Warrior Open</a><br>
              <a href="https://www.sportdata.org/taekwondo_itf/set-online/veranstaltung_info_main.php?active_menu=calendar&vernr=293#a_eventhead">Sportdata Registration</a><br>
            </li><br>

            <li>
              March 12th, 2022 - CTFI National Championships to be held in Regina, SK. Registration can be done via Sportdata: <a href="https://www.sportdata.org/taekwondo_itf/set-online/veranstaltung_info_main.php?active_menu=calendar&vernr=297#a_eventhead">CTFI Nationals Sportdata Registration</a>.
              </p>
            </li><br>

            <li>
              March 12th-13th, 2022 - ITA Dublin Open to be held in the Sport Ireland National Indoor Arena. Information from the ITF website: <a href="https://itftkd.sport/event/ita-dublin-open/?fbclid=IwAR0J1P7F0B1JXecEeVzTlI2nkAeapibRki27EjfPCakRzhcLLz6m6yICJZY">ITA Dublin Open</a>.
            </li><br>
            
            <li>
              April 2nd, 2022 - NS Championships hosted by Performance Taekwon-Do and Hiltz Taekwon-Do at St. Andrew's Community Center's gym (3380 Barnstead Lane) beginning at 9am. Registration is being handled online via Google forms and updates are being posted to the dedicated Facebook page.<br>
              Registration Link: <a href="https://forms.gle/vXazp1tL74vdtQs5A">NS Championships Online Registration</a><br>
              Tournament Facebook page: <a href="https://www.facebook.com/NSChampionship">NS Championships on Facebook</a>
            </li><br>

            <li>May 7-8th, 2022 - World King of Taekwon-Do to be held in Thessaloniki, Greece. Official Site (not yet reflecting current year):
              <a href="https://greekopen.gr/">King of Taekwon-Do</a>
            </li><br>

            <li>May 14th, 2022 - USTC Red Tiger Cup to be held in Huntingdon Valley, Pennsylvania, USA. Official Facebook page:
              <a href="https://www.facebook.com/events/304091321160126?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D">USTC Red Tiger Cup</a>
            </li><br>

            <li>
              May 26th-28th, 2022 - Asian Taekwon-Do Championships to be held in Delhi, India at the Talkatora Stadium. Links for general info:
              <a href="https://www.facebook.com/events/talkatora-stadium/asian-taekwon-do-itf-championship-2022/471004007545356/">Asian Championships Facebook</a>,
              <a href="https://www.sportdata.org/taekwondo_itf/set-online/veranstaltung_info_main.php?active_menu=calendar&vernr=291#a_eventhead">Asian Champs Sportdata Registration</a><br>
            </li><br>

            <li>
              June 15th, 2022 - XI AETF Open European Cup, International Children and Cadets Cup, Internation Summer Camp to be held in Lignano Sabbiadoro, Italy. Tournament Information from the ITF website: <a href="https://itftkd.sport/event/xi-aetf-open-european-cup/">2022 XI AETF Open</a>
            </li><br>

            <li>
              November, 2022 (exact date TBD) - CTFI Eastern Canadian Championships to be held in Halifax, Nova Scotia by Mackenzie Taekwon-Do: <a href="https://www.ctfi.org/ctfi-competition-schedule/">CTFI Events Page</a>
            </li><br>

            <li>
              November 14th, 2022 - The Anxur Battle, to be held in Terracina (LT), Italy. Information from the AETF website: <a href="https://itfeurope.org/post/invitation-to-the-anxur-battle">The Anxur Battle</a>
            </li><br>

            <li>
              January 28th, 2023 - Dutch Open to be held in Helmond, the Netherlands. Tournament Info and Registration Page: <a href="https://open-dutch.nl/">Dutch Open</a>
            </li><br>

            <li>
              March 2023 (exact date TBD) - 6TH NI-KKO Roma Open International to be held in Rome, Italy. Information from the ITF website: <a href="https://itftkd.sport/event/6th-ni-kko-roma-open-international/">ITF TKD Sport Info Page</a>
            </li><br>
          </ul.a>

        </div>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script><br><br>

  

    {% endblock %}
  </body>
</html>